<?xml version="1.0" encoding="utf-8"?>
<configuration>
<system.webServer>
<!-- Activar el manejo de extensiones estáticas -->
<staticContent>
<mimeMap fileExtension=".css" mimeType="text/css" />
<mimeMap fileExtension=".js" mimeType="application/javascript" />
<mimeMap fileExtension=".html" mimeType="text/html" />
</staticContent>
 
    <!-- Configuración del servidor para dirigir las solicitudes a la aplicación Flask -->
<handlers>
<!-- Se asegura de que Python procese las solicitudes -->
<add name="PythonHandler" path="*" verb="*" modules="FastCgiModule" scriptProcessor="D:\home\python364x86\python.exe|C:\Users\Lenovo E490\Documents\AppBitacora\app.py" resourceType="Unspecified" requireAccess="Script" />
</handlers>
 
    <rewrite>
<rules>
<!-- Redirigir todas las solicitudes a la aplicación Flask -->
<rule name="FlaskApp" stopProcessing="true">
<match url=".*" />
<conditions>
<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
<add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
</conditions>
<action type="Rewrite" url="app.py" />
</rule>
</rules>
</rewrite>
</system.webServer>
</configuration>