/* General styles */
body, html{
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Contenedor principal */
.container, .screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 400px; /* Ajustado para pantallas móviles */
  padding: 20px;
}

/* Encabezado y logo */
header {
  text-align: center;
  margin-bottom: 20px;
}

#logo-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

#logo {
  max-width: 200px; /* Ajustar tamaño del logo */
  height: auto;
}

/* Formulario */
.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 350px;
  width: 100%;
  background-color: rgb(255, 255, 255);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.title {
  font-size: 24px;
  color: #000000;
  font-weight: 600;
  text-align: center;
}

/* Flex para nombre y apellido */
.flex {
  display: flex;
  justify-content: space-between;
  width: 95%;
  gap: 10px;
}

.flex label {
  flex: 10;
}

/* Inputs */
.form label {
  position: relative;
  width: 95%;
}

.form label .input {
  width: 100%;
  padding: 10px 10px 10px 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #ffffff;
  transition: 0.3s;
}

.form label .input:focus {
  border-color: #FFAF33;
}

.form label .input + span {
  position: absolute;
  left: 10px;
  top: 10px;
  color: grey;
  font-size: 0.9em;
  transition: 0.3s ease;
}

.form label .input:placeholder-shown + span {
  top: 15px;
  font-size: 0.9em;
}

.form label .input:focus + span,
.form label .input:valid + span {
  top: -5px;
  font-size: 0.75em;
  font-weight: 600;
  color: #FFAF33;
}

/* Botón de ingresar */
.submit {
  width: 95%;
  padding: 10px;
  background-color: #FFAF33;
  border: none;
  border-radius: 5px;
  color: rgb(255, 255, 255);
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  text-align: center;
}

.submit:hover {
  background-color: #DE992C;
}

/* Link de iniciar sesión */
.signin {
  margin-top: 10px;
  color: #555;
}

.signin a {
  color: #FFAF33;
  text-decoration: none;
}

.signin a:hover {
  text-decoration: underline;
}

/* Media queries para dispositivos móviles */
@media (max-width: 600px) {
  .container, .screen {
      max-width: 100%;
      padding: 10px;
  }

  #logo {
      max-width: 150px;
  }

  .form {
      padding: 15px;
  }

  .submit {
      font-size: 14px;
      justify-self: center;
  }
}
